<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <img class="mx-auto h-15 w-auto" src="images/atmecs-technologies-logo.png" alt="ATMECS">
      <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Sign up your account </h2>
    </div>
  
    
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      <form [formGroup]="signupForm" (submit)="registerUser()" class="space-y-6" >
        <div>
          <label for="firstName" class="block text-sm font-medium leading-6 text-gray-900">First Name</label>
          <div class="mt-2">
            <input id="firstName" name="firstName" type="text" formControlName="firstName" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          </div>
          <div  class="text-red-700 text-xs"
          *ngIf="
            signupForm.controls['firstName'].touched &&
            signupForm.controls['firstName'].invalid
          "
        >
          <span *ngIf="signupForm.controls['firstName'].errors?.['required']"
            >First Name Required</span
          >
        </div>
        </div>
        <div>
            <label for="lastName" class="block text-sm font-medium leading-6 text-gray-900">Last Name</label>
            <div class="mt-2">
              <input id="lastName" name="lastName" type="text" formControlName="lastName" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
              <div
            class="text-red-700 text-xs"
            *ngIf="
              signupForm.controls['lastName'].touched &&
              signupForm.controls['lastName'].invalid
            "
          >
            <span *ngIf="signupForm.controls['lastName'].errors?.['required']"
              >Last Name Required</span
            >
          </div>
            </div>
          </div>
          <div>
            <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email</label>
            <div class="mt-2">
              <input id="email" name="email" type="email" formControlName="email" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
              <div
              class="text-red-700 text-xs"
              *ngIf="
                signupForm.controls['email'].touched &&
                signupForm.controls['email'].invalid
              "
            >
              <span *ngIf="signupForm.controls['email'].errors?.['required']"
                >Email Required</span
              >
              <span *ngIf="signupForm.controls['email'].errors?.['email']"
                >Enter valid Email</span
              >
            </div>
            </div>
          </div>
  
        <div>
          <div class="flex items-center justify-between">
            <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
            
          </div>
          <div class="mt-2">
            <input id="password" name="password" type="password" formControlName="password" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            <div
            class="text-red-700 text-xs"
            *ngIf="
              signupForm.controls['password'].touched &&
              signupForm.controls['password'].invalid
            "
          >
            <span *ngIf="signupForm.controls['password'].errors?.['required']"
              >Password Required</span
            >
            <span *ngIf="signupForm.controls['password'].errors?.['minlength']"
              >Password must be at least 6 characters long</span
            >
          </div>
        </div>
        </div>
  
        <div>
          <button type="submit" [disabled]="signupForm.invalid" class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Sign Up</button>
        </div>
      </form>
  
      <p class="mt-10 text-center text-sm text-gray-500">
        Already a member?
        <a href="login" class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500">login</a>
      </p>
    </div>
  </div>